:root {
  --pr-color: #fff;
  --fz-big: 90px;
  --base-black-80: #18181875;
  --base-black-60: #80808975;
  --base-black-50: #ffffff;
  --transition-1: 0.4s;
}
* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 800;
  margin: 0;
  padding: 0;
}
body {
  position: relative;
}

body::before {
  content: "";
  position: fixed;
  width: 100%;
  height: 100%;
  background: url(../bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(30px);
  transform: scale(2);
  z-index: 1;
}
.wrapp {
  position: relative;
  width: 100%;
  height: auto;
  z-index: 2;
  overflow: hidden;
}
.section {
  position: relative;
  width: 100%;
  height: auto;
  padding: 35px 35px 120px 35px;
}
.title {
  font-size: var(--fz-big);
  color: var(--pr-color);
}
.section__footer {
  position: fixed;
  width: 100%;
  padding: 15px 35px;
  bottom: 0;
  left: 0;
  backdrop-filter: blur(15px);
  z-index: 3;
}
.section__footer-wrapp {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}
.section__footer-txt {
  position: relative;
  padding-left: 73px;
  color: var(--pr-color);
  font-size: 16px;
  text-transform: uppercase;
}
.section__footer-txt:last-child {
  padding-left: 0;
  font-size: 45px;
}
.section__footer-img {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
}
.section__footer-img img {
  display: block;
  width: 100%;
  height: 100%;
  animation: rotate 9s infinite linear;
}
@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(-360deg);
  }
}

.card__tabs {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 25px;
  width: 100%;
  height: 752px;
  z-index: 2;
}
.card__tabs-body,
.card__tabs-header {
  width: 50%;
  height: 100%;
}
.card__tabs-body {
  position: relative;
}
.card__tabs-body-wr {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.tab__b1-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 10px;
  overflow: hidden;
  z-index: 1;
}
.tab__b1-bg-ln {
  width: 100%;
  height: 10%;
  background: var(--base-black-80);
  transform: scale(1);
}
.tab__b1 {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  border-radius: 10px;
}
.tab__b1-wrapp {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 40px;
  top: 0;
  left: 0;
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  z-index: 2;
}
.tab__b1.active .tab__b1-wrapp {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
.tab__b1-title {
  font-size: 32px;
  color: var(--pr-color);
}
.tab__b1-p {
  margin-top: 10px;
  margin-bottom: 27px;
  font-size: 24px;
  line-height: 167%;
  color: var(--base-black-60);
}
.tab__b1-ul {
  margin-top: 27px;
  padding-left: 10px;
}
.tab__b1-li {
  position: relative;
  display: flex;
  align-items: center;
  gap: 20px;
  list-style: none;
  font-size: 24px;
  line-height: 167%;
  color: var(--base-black-50);
}
.tab__b1-li::before {
  content: "";
  width: 11px;
  height: 11px;
  border-radius: 1px;
  background: var(--base-black-50);
}
.tab {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  grid-area: 25px;
  width: 100%;
  height: 100%;
}
.tab__item {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 130px;
  padding-left: 23px;
  font-size: 32px;
  color: var(--pr-color);
  list-style: none;
  cursor: pointer;
  border-radius: 10px;
  background: var(--base-black-80);
  transition: var(--transition-1);
}
.tab__item.active {
  pointer-events: none;
  background: var(--base-black-60);
}
